:root {
    --border-radius: 5px;
    --main-color: #115905;
    --main-color-light: #1f7c07;
    --main-hover-color: #0a3503;
    --transition-duration: 0.2s;
}

.verticalView {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.verticalView header {
    background-color: var(--main-color);
    color: white;
    height: 100px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 70px auto 70px;
    align-items: center;
}

.verticalView header .backButton {
    text-align: center;
    cursor: pointer;
    font-size: 120%;
}

.verticalView header h1 {
    text-align: center;
}

.verticalView .logo {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.verticalView form {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.verticalView input {
    display: block;
    margin: 0 10px;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid grey;
}

.verticalView input:focus {
    border: 1px solid black;
}

.verticalView textarea {
    display: block;
    margin: 0 10px;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid grey;
    font-family: sans-serif;
    resize: none;
}

.verticalView textarea:focus {
    border: 1px solid black;
}

.verticalView select {
    display: block;
    margin: 0 10px;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
}

.verticalView ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    line-height: 1.5em;
}

.verticalView .react-datepicker__input-container {
    display: flex;
}

.verticalView .react-datepicker__input-container input {
    flex: 1;
    border-radius: var(--border-radius);
}

.verticalView .buttonBlock {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.verticalView .buttonBlock button {
    flex: 1;
    max-width: 200px;
    background: var(--main-color);
    color: white;
    outline: none;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 1px solid gray;
    transition: var(--transition-duration);
}

.verticalView .buttonBlock button:hover {
    background: var(--main-hover-color);
}

.categoryView {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    border-right: 1px solid black;
}

.category-header {
    text-align: center;
}

#category-list {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100% - 320px);
}

.category-item {
    padding: 0.5em;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.category-length {
    position: absolute;
    right: 10%;
    text-align: right;
}

.category-display {
    overflow-y: auto;
}

.category-item:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#new-category:hover {
    background-color: inherit;
}

.listContainer {
    list-style: none;
    padding: 10px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    font-family: sans-serif;
    font-size: 120%;
    align-content: center;
    overflow-y: auto;
}

.listContainer li {
    width: 100%;
    min-height: 50px;
    background-color: var(--main-color);
    color: white;
    border-radius: var(--border-radius);
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    transition: var(--transition-duration);
}

.listContainer li.finished {
    background-color: var(--main-hover-color);
    opacity: 0.5;
    text-decoration: line-through;
}

.listContainer li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    border-radius: 100%;
    border: 1px solid white;
    outline: none;
    transition: var(--transition-duration);
}

.listContainer li input[type="checkbox"]:hover {
    background-color: var(--main-color-light);
    border: 1px solid white;
}

.listContainer li input[type="checkbox"]:checked {
    background-color: white;
    border: 1px solid white;
}

.listContainer li .taskTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 5px;
    padding: 5px 0;
}

.listContainer li .taskTextContainer p {
    margin-block: 0;
    line-height: 100%;
}

.listContainer li .taskTextContainer .taskTitle {
}

.listContainer li .taskTextContainer .taskDate {
    font-size: 60%;
    color: rgba(255, 255, 255, 0.5);
}

.listContainer li .taskTextContainer .taskDetails {
    font-size: 70%;
}

.listContainer li .taskTextContainer .taskLocation {
    font-size: 70%;
}

.listContainer li .taskTextContainer .taskSharedWith {
    font-size: 70%;
}

.listContainer li .editTrashBlock {
    display: flex;
}

.listContainer li .trash,
.listContainer li .edit {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
}

.listContainer li .trash {
    background: url("./assets/trash.png") no-repeat center center / cover;
}

.listContainer li .edit {
    background: url("./assets/edit.png") no-repeat center center / cover;
}

.listContainer li .trash:hover,
.listContainer li .edit:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
