:root {
    --border-radius: 5px;
    --main-color: #115905;
    --main-color-light: #1f7c07;
    --main-hover-color: #0a3503;
    --transition-duration: 0.2s;
}

.verticalView {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.verticalView header {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    height: 100px;
}

.verticalView header h1 {
    text-align: center;
}

.verticalView input {
    display: block;
    margin: 0 10px;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid grey;
}

.verticalView input:focus {
    border: 1px solid black;
}

.verticalView textarea {
    display: block;
    margin: 0 10px;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid grey;
}

.verticalView textarea:focus {
    border: 1px solid black;
}

.verticalView select {
    display: block;
    margin: 0 10px;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
}

.verticalView ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    line-height: 1.5em;
}

.verticalView .react-datepicker__input-container {
    display: flex;
}

.verticalView .react-datepicker__input-container input {
    flex: 1;
    border-radius: var(--border-radius);
}

.verticalView .buttonBlock {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.verticalView .buttonBlock button {
    flex: 1;
    max-width: 200px;
    background: var(--main-color);
    color: white;
    outline: none;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 1px solid gray;
    transition: var(--transition-duration);
}

.verticalView .buttonBlock button:hover {
    background: var(--main-hover-color);
}

.categoryView {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    border-right: 1px solid black;
}

.category-header {
    text-align: center;
}

#category-list {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.category-item {
    padding: 0.5em;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.category-item:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#new-category:hover {
    background-color: inherit;
}
