$main-color: #115905; /* bleu: #313054, teal: #054959 */
$main-color-light: lighten($main-color, 10%);
$main-hover-color: darken($main-color, 10%);

:root {
    --header-height: 100px;
    --border-radius: 5px;
    --main-color: #{$main-color};
    --main-color-light: #{$main-color-light};
    --main-hover-color: #{$main-hover-color};
    --transition-duration: 0.2s;
    overflow-x: hidden;
}

/** scrollbar **/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: var(--border-radius);
}

.verticalView {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    height: calc(100vh - 20px);
    position: relative;

    @import "./Header.scss";
}

.verticalView .logo {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.verticalView .mainContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    flex: auto;
    justify-content: flex-start;
}

.verticalView form {
    flex: auto;
    display: flex;
    row-gap: 10px;
    min-height: calc(100vh - var(--header-height) - 35px);
    flex-direction: column;
    justify-content: space-evenly;
}

.verticalView form .mainContainer {
    overflow-y: auto;
}

.verticalView label {
    margin-top: 10px;
    margin-bottom: 5px;

    &:nth-child(1) {
        margin-top: 0;
    }
}

.verticalView label[aria-required="true"]::after {
    content: " *";
    color: red;
}

.verticalView input {
    display: block;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid grey;

    &:focus {
        border: 1px solid black;
    }
}

.verticalView input[type="search"] {
    margin: 0 10px;
}

.verticalView textarea {
    display: block;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid grey;
    font-family: "Source Sans Pro ", sans-serif;
    resize: none;
    min-height: 50px;

    &:focus {
        border: 1px solid black;
    }
}

.verticalView select {
    display: block;
    padding: 10px;
    outline: none;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);

    &:active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.verticalView .react-datepicker__input-container {
    display: flex;
    input {
        flex: 1;
        border-radius: var(--border-radius);
    }
}

input[type="range" i] {
    padding: 0 0 0 5px;
}

.verticalView .buttonBlock {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    button {
        flex: 1;
        max-width: 200px;
        background: var(--main-color);
        color: white;
        outline: none;
        margin: 0 10px;
        padding: 10px;
        cursor: pointer;
        border-radius: var(--border-radius);
        border: 1px solid gray;
        transition: var(--transition-duration);

        &:hover {
            background: var(--main-hover-color);
        }
    }
}

.categoryView {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    border-right: 1px solid black;
}

.category-header {
    text-align: center;
}

#category-container {
    margin-top: 10px;
}

#category-list {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100% - 320px);
}

.category-item {
    display: flex;
    padding: 0 10px;
    height: 40px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer;
    align-items: center;

    &:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.category-length {
    position: absolute;
    right: 20%;
    text-align: right;
}

.category-name {
    width: 80%;
}

.category-options {
    position: absolute;
    right: 10%;
    text-align: right;
    justify-content: center;
}

.more-icon {
    padding-left: 25px;
    background: url("./assets/more.png") no-repeat center center / cover;
    background-size: 20px;
    opacity: 0.8;
}

.category-options ul {
    list-style-type: none;
}


.category-menu {
    position: relative;
    font-size: 70%;
    text-align: right;
    background-color: white;
    z-index: 3;
    border: 1px solid black;
    right: -20%;
    padding: 0.5em;
}

.category-display {
    overflow-y: auto;
    margin-top: 10px;
}

#new-category:hover {
    background-color: inherit;
}

.listContainer {
    list-style: none;
    padding: 10px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    font-family: "Source Sans Pro ", sans-serif;
    font-size: 120%;
    align-content: center;
    overflow-y: auto;
}

.listContainer li {
    width: 100%;
    min-height: fit-content;
    background-color: var(--main-color);
    color: white;
    border-radius: var(--border-radius);
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    transition: var(--transition-duration);

    &.finished {
        background-color: var(--main-hover-color);
        opacity: 0.8;
        text-decoration: line-through;
        filter: brightness(0.5);
    }

    &:hover {
        background-color: var(--main-hover-color);
    }
}

.listContainer li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    border-radius: 100%;
    border: 1px solid white;
    outline: none;
    transition: var(--transition-duration);

    &:hover {
        background-color: var(--main-color-light);
        border: 1px solid white;
    }
}

.listContainer li.finished input[type="checkbox"] {
    background-color: #ffe425;
    border: 1px solid white;
}

.listContainer li .taskTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 5px;
    padding: 5px 0;
    cursor: pointer;
}

.listContainer li .taskTextContainer p {
    margin-block: 0;
    line-height: 100%;

    .urgency {
        border-radius: var(--border-radius);
        padding: 2px 5px;
        background: var(--main-hover-color);
        font-weight: bold;
    }

    .urgency1 {
        color: rgb(255, 251, 0);
    }

    .urgency2 {
        color: rgb(81, 255, 0);
    }

    .urgency3 {
        color: rgb(255, 0, 242);
    }

    .urgency4 {
        color: rgb(255, 81, 0);
    }

    .urgency5 {
        color: rgb(255, 0, 0);
    }
}

.listContainer li .taskTextContainer .taskDate {
    font-size: 70%;
    color: rgba(255, 255, 255, 0.5);
    background: url("./assets/calendar.png") no-repeat center left / contain;
    padding-left: 20px;
}

.listContainer li .taskTextContainer .taskDetails {
    font-size: 70%;
}

.listContainer li .taskTextContainer .taskLocation {
    font-size: 70%;
    background: url("./assets/location.png") no-repeat center left / contain;
    padding-left: 20px;
}

.listContainer li .taskTextContainer .taskSharedWith {
    font-size: 70%;
}

.listContainer li .editTrashBlock {
    display: flex;
}

.listContainer li .trash,
.listContainer li .edit {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    filter: invert(0.8) sepia(1);
    border-radius: var(--border-radius);
    transition: var(--transition-duration);

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.listContainer li .trash {
    background: url("./assets/trash.png") no-repeat center center / cover;
}

.listContainer li .edit {
    background: url("./assets/edit.png") no-repeat center center / cover;
}

.desktopView {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    width: 100vw;
}

.desktopView .idleDesktopPanel {
    grid-column: span 2;
}

.desktopView .idleDesktopPanel .idleDesktopPanelText {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.presentation li {
    display: block;
    text-align: center;
}
