header {
    background-color: var(--main-color);
    color: white;
    min-height: var(--header-height);
    max-height: var(--header-height);
    padding: 0 10px;
    display: grid;
    grid-template-columns: 70px auto 70px;
    align-items: center;

    .backButton {
        text-align: center;
        cursor: pointer;
        font-size: 80%;
    }

    .backButtonIcon {
        background: url("./assets/back_button.png") no-repeat top center / cover;
        height: 30px;
        width: 30px;
        margin-left: 10px;
        display: block;
    }

    .backButtonText{
        padding-top: 30px;
        padding-left: 0.5em;
        display: block;
    }

    h1 {
        text-align: center;
        margin-block: 0;
    }
}
